@charset "UTF-8";
img.logo {
	max-width:256px;
}
img.featurette-image {
	max-height:500px;
	widht:100%;
	border-radius:1em;
	box-shadow:0em 0em 1em 0.5em rgba(0,0,0,0.5);
}
.featurette {
	background-color:#f2f2f2;
	border-radius: 6px;
}
